multi_instance_name = postfix-<%= scope.lookupvar('tails::tester::support::email::postfix_instance_name') %>
myorigin = <%= @fqdn %>
myhostname = <%= @fqdn %>
queue_directory = <%= scope.lookupvar('tails::tester::support::email::postfix_spool_dir') %>
data_directory = <%= scope.lookupvar('tails::tester::support::email::postfix_lib_dir') %>

mynetworks = <%= @ipaddress_eth0 %>
inet_interfaces = <%= @ipaddress_eth0 %>
mydestination = localhost

alias_database =
alias_maps =

virtual_transport = lmtp:unix:private/dovecot-lmtp
virtual_mailbox_domains = <%= @fqdn %>
virtual_mailbox_maps = hash:<%= scope.lookupvar('tails::tester::support::email::postfix_conf_dir') %>/vmailbox

smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth
smtpd_tls_auth_only = yes

# TLS parameters
smtpd_use_tls=yes
smtpd_tls_cert_file = <%= scope.lookupvar('tails::tester::support::email::postfix_tls_cert_file') %>
smtpd_tls_key_file = <%= scope.lookupvar('tails::tester::support::email::postfix_tls_key_file') %>
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache

bounce_queue_lifetime = 1w
maximal_queue_lifetime = 1w

multi_instance_enable = yes
