
object Service "<%= @displayed_name %>" {

  import "generic-service"

  check_command = "disk"

  display_name = "<%= @displayed_name %>"
  host_name = "<%= @nodename %>"
  enable_notifications = <%= @enable_notifications %>

  check_interval = <%= @check_interval %>
  retry_interval = <%= @retry_interval %>

  <%- if @partition -%>
  vars.disk_partition = "<%= @partition %>"
  <%- end -%>

  <%- if @partitions -%>
  vars.disk_partitions = <%= @partitions %>
  <%- end -%>

  <%- if @wfree -%>
  vars.disk_wfree = "<%= @wfree %>"
  <%- end -%>
  <%- if @cfree -%>
  vars.disk_cfree = "<%= @cfree %>"
  <%- end -%>
  <%- if @inode_wfree -%>
  vars.disk_inode_wfree =  "<%= @inode_wfree %>"
  <%- end -%>
  <%- if @inode_cfree -%>
  vars.disk_inode_cfree =  "<%= @inode_cfree %>"
  <%- end -%>

}
