object Service "memory" {

  import "generic-service"

  check_command = "mem"

  display_name = "memory"
  host_name = "<%= @nodename %>"
  enable_notifications = <%= @enable_notifications %>

  check_interval = <%= @check_interval %>
  retry_interval = <%= @retry_interval %>

  vars.mem_free = true
  vars.mem_cache = true
  vars.mem_warning = "<%= @mem_warning %>"
  vars.mem_critical = "<%= @mem_critical %>"

}
