
object Service "<%= @name %>" {

  import "generic-service"

  check_command = "file_age"

  host_name = "<%= @nodename %>"
  enable_notifications = <%= @enable_notifications %>

  check_interval = <%= @check_interval %>
  retry_interval = <%= @retry_interval %>

  vars.file_age_file = "<%= @flag_file %>"
  vars.file_age_ignoremissing = true
  vars.file_age_warning_time = <%= @warning_age %>
  vars.file_age_critical_time = <%= @critical_age %>

}
