
object Service "<%= @name %>" {

  import "generic-service"

  check_command = "torbrowser-archive"

  display_name = "<%= @displayed_name %>"
  host_name = "<%= @nodename %>"
  enable_notifications = <%= @enable_notifications %>

  check_interval = <%= @check_interval %>
  retry_interval = <%= @retry_interval %>

  vars.archive_address = "https://<%= @name %>/"

  vars.real_host = "<%= @real_host %>"
}
