
object Service "<%= @displayed_name %>" {

  import "generic-service"

  check_command = "upgradeable"

  display_name = "<%= @displayed_name %>"
  host_name = "<%= @nodename %>"
  enable_notifications = <%= @enable_notifications %>

  check_interval = <%= @check_interval %>
  retry_interval = <%= @retry_interval %>

}
