# -*- mode: conf; -*-
# This file is managed by the tails::jenkins::artifacts_store::webserver class.

<%- if @ssl == true -%>
server {
    server_name <%= @hostname %>;
    listen 80;

    location /.well-known/acme-challenge/ {
        root /var/www/html;
    }
    location / {
        return 301 https://$host$request_uri;
    }
}
<%-end -%>

server {
    server_name <%= @hostname %>;
    root <%= @artifacts_store_path %>;

    <%- if @ssl == true -%>
    listen 443;
    ssl on;
    ssl_certificate /etc/letsencrypt/live/<%= @hostname %>/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/<%= @hostname %>/privkey.pem;
    ssl_dhparam /etc/nginx/dhparams.pem;
    ssl_prefer_server_ciphers on;
    ssl_session_timeout 5m;
    include /etc/nginx/include.d/ssl-strong-ciphers.conf;
    <%- else -%>
    listen 80;
    <%- end -%>

    location / {
        fancyindex on;
        fancyindex_exact_size off;
        fancyindex_name_length 120;
    }

    types {
        text/plain apt-sources;
        text/plain binpkgs;
        text/plain build-manifest;
        text/plain buildlog;
        text/plain packages;
        text/plain shasum;
        text/plain asc;
        text/plain srcpkgs;
    }
}
