#! /bin/sh

set -eu

REMOTE_JENKINS="jenkins@jenkins.<%= @domain %>"
JENKINS_JOBS_TEST_DIR="/var/tmp/jenkins_jobs_test"
DEPLOY_SCRIPT="/usr/local/sbin/deploy_jenkins_jobs"

while read oldrev newrev refname; do
	if [ "$refname" = "refs/heads/master" ]; then
		/usr/bin/git archive "$newrev" | /usr/bin/ssh "$REMOTE_JENKINS" /bin/tar -xf - -C "$JENKINS_JOBS_TEST_DIR"
		/usr/bin/ssh "$REMOTE_JENKINS" "$DEPLOY_SCRIPT" test
	fi
done
