#!/bin/sh

set -eu

JENKINS_MASTER_URL='http://jenkins.<%= @domain %>:8080'
GIT_REMOTE='gitolite@<%= @fqdn %>'

NOTIFY_JENKINS=no

# Note: we still notify Jenkins of branch deletions and other updates
# we'd rather not notify it about, *if* these updates are pushed at
# the same time as other updates we want to notify Jenkins about.

while read oldrev newrev refname; do
   if expr match "$newrev" '^0*$' >/dev/null; then
       echo "Deletion of $refname is not worth notifying Jenkins in itself."
       continue
   fi

   newrev_type=$(git cat-file -t "$newrev" 2>/dev/null)
   if [ "$newrev_type" != commit ]; then
       echo "Non-commit update of $refname is not worth notifying Jenkins in itself."
       continue
   fi

   if ! expr match "$refname" '^refs/heads/'; then
       echo "Non-branch update of $refname is not worth notifying Jenkins in itself."
       continue
   fi

   NOTIFY_JENKINS=yes
done

if [ "$NOTIFY_JENKINS" = yes ]; then
    echo "Notifying Jenkins of Git updates"
    exec curl --silent --show-error "${JENKINS_MASTER_URL}/git/notifyCommit?url=${GIT_REMOTE}:tails"
fi
