Origin: Debian
Label: Debian
Suite: stable
Codename: stretch
Architectures: <%= @architectures['stretch'].join(' ') %>
Components: main contrib non-free
<%- if @signwith -%>
SignWith: <%= @signwith %>
<%- end -%>
Update: - debian-stretch
Log: debian-stretch
ValidFor: 10d

Origin: Debian
Label: Debian
Suite: stable-updates
Codename: stretch-updates
Architectures: <%= @architectures['stretch'].join(' ') %>
Components: main contrib non-free
<%- if @signwith -%>
SignWith: <%= @signwith %>
<%- end -%>
Update: - debian-stretch-updates
Log: debian-stretch-updates
ValidFor: 10d

Origin: Debian
Label: Debian
Suite: stable-proposed-updates
Codename: stretch-proposed-updates
Architectures: <%= @architectures['stretch'].join(' ') %>
Components: main contrib non-free
<%- if @signwith -%>
SignWith: <%= @signwith %>
<%- end -%>
Update: - debian-stretch-proposed-updates
Log: debian-stretch-proposed-updates
ValidFor: 10d

Origin: Debian
Label: Debian
Suite: stable-backports
Codename: stretch-backports
Architectures: <%= @architectures['stretch'].join(' ') %>
Components: main contrib non-free
<%- if @signwith -%>
SignWith: <%= @signwith %>
<%- end -%>
Update: - debian-stretch-backports
Log: debian-stretch-backports
ValidFor: 10d

Origin: Debian
Label: Debian
Suite: testing
Codename: buster
Architectures: <%= @architectures['buster'].join(' ') %>
Components: main contrib non-free
<%- if @signwith -%>
SignWith: <%= @signwith %>
<%- end -%>
Update: - debian-buster
Log: debian-buster
ValidFor: 10d

Origin: Debian
Label: Debian
Suite: testing-updates
Codename: buster-updates
Architectures: <%= @architectures['buster'].join(' ') %>
Components: main contrib non-free
<%- if @signwith -%>
SignWith: <%= @signwith %>
<%- end -%>
Update: - debian-buster-updates
Log: debian-buster-updates
ValidFor: 10d

Origin: Debian
Label: Debian
Suite: testing-proposed-updates
Codename: buster-proposed-updates
Architectures: <%= @architectures['buster'].join(' ') %>
Components: main contrib non-free
<%- if @signwith -%>
SignWith: <%= @signwith %>
<%- end -%>
Update: - debian-buster-proposed-updates
Log: debian-buster-proposed-updates
ValidFor: 10d

Origin: Debian
Label: Debian
Suite: unstable
Codename: sid
Architectures: <%= @architectures['sid'].join(' ') %>
Components: main contrib non-free
<%- if @signwith -%>
SignWith: <%= @signwith %>
<%- end -%>
Update: - debian-sid
Log: debian-sid
ValidFor: 10d

Origin: Debian
Label: Debian
Suite: experimental
Codename: experimental
Architectures: <%= @architectures['experimental'].join(' ') %>
Components: main contrib non-free
<%- if @signwith -%>
SignWith: <%= @signwith %>
<%- end -%>
Update: - debian-experimental
Log: debian-experimental
ValidFor: 10d
