Name: debian-stretch
Method: http://ftp-osl.osuosl.org/debian/
Suite: stretch
Architectures: <%= @architectures['stretch'].join(' ') %>
Components: main contrib non-free
VerifyRelease: 7638D0442B90D010
GetInRelease: no

Name: debian-stretch-updates
Method: http://ftp-osl.osuosl.org/debian/
Suite: stretch-updates
Architectures: <%= @architectures['stretch'].join(' ') %>
Components: main contrib non-free
VerifyRelease: 7638D0442B90D010

Name: debian-stretch-proposed-updates
Method: http://ftp-osl.osuosl.org/debian/
Suite: stretch-proposed-updates
Architectures: <%= @architectures['stretch'].join(' ') %>
Components: main contrib non-free
VerifyRelease: 7638D0442B90D010

Name: debian-stretch-backports
Method: http://ftp-osl.osuosl.org/debian/
Suite: stretch-backports
Architectures: <%= @architectures['stretch'].join(' ') %>
Components: main contrib non-free
VerifyRelease: 7638D0442B90D010

Name: debian-buster
Method: http://ftp-osl.osuosl.org/debian/
Suite: buster
Architectures: <%= @architectures['buster'].join(' ') %>
Components: main contrib non-free
VerifyRelease: 7638D0442B90D010
GetInRelease: no

Name: debian-buster-updates
Method: http://ftp-osl.osuosl.org/debian/
Suite: buster-updates
Architectures: <%= @architectures['buster'].join(' ') %>
Components: main contrib non-free
VerifyRelease: 7638D0442B90D010

Name: debian-buster-proposed-updates
Method: http://ftp-osl.osuosl.org/debian/
Suite: buster-proposed-updates
Architectures: <%= @architectures['buster'].join(' ') %>
Components: main contrib non-free
VerifyRelease: 7638D0442B90D010

Name: debian-sid
Method: http://ftp-osl.osuosl.org/debian/
Suite: sid
Architectures: <%= @architectures['sid'].join(' ') %>
Components: main contrib non-free
VerifyRelease: 7638D0442B90D010

Name: debian-experimental
Method: http://ftp-osl.osuosl.org/debian/
Suite: experimental
Architectures: <%= @architectures['experimental'].join(' ') %>
Components: main contrib non-free
VerifyRelease: 7638D0442B90D010
