# -*- mode: conf; -*-
# This file is managed by the `::tails::jenkins::reverse_proxy` class.

proxy_pass http://<%= @upstream_hostname %>;
include /etc/nginx/proxy_params;
proxy_redirect http://<%= @upstream_hostname %>/ https://<%= @public_hostname %>/;
auth_basic "Tails :: Jenkins CI Lab";
auth_basic_user_file auth.d/htpasswd.jenkins;
