# -*- mode: conf; -*-
# This file is managed by the `::tails::weblate::reverse_proxy` class.

upstream <%= @upstream_hostname %> {
    server <%= @upstream_address %> fail_timeout=0;
}

server {
    server_name <%= @public_hostname %>;
    listen 80;

    location /.well-known/acme-challenge/ {
        root /var/www/html;
    }
    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    server_name <%= @public_hostname %>;
    listen      443;
    root        /nonexistent;

    ssl on;
    ssl_certificate /etc/letsencrypt/live/<%= @public_hostname %>/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/<%= @public_hostname %>/privkey.pem;
    ssl_dhparam /etc/nginx/dhparams.pem;
    ssl_prefer_server_ciphers on;
    ssl_session_timeout 5m;
    include /etc/nginx/include.d/ssl-strong-ciphers.conf;

    location / {
        include /etc/nginx/includes/tails_weblate_reverse_proxy.conf;
    }

    location ~* \.(?:ico|css|js|gif|jpe?g|png)$ {
        include /etc/nginx/includes/tails_weblate_reverse_proxy.conf;
        add_header Cache-Control public;
        expires 7d;
    }
}
