# -*- mode: conf; -*-
# This file is managed by the `tails::reprepro::reverse_proxy` defined resource.

server {
    server_name <%= @public_hostname + ' ' + @onion_hostname %>;
    listen      80;
    root        /nonexistent;

    # Note: we don't redirect non-ACME requests to HTTPS as this would
    # break apt-cacher-ng caching on our ISO build systems.

    location ^~ /.well-known/acme-challenge/ {
        root /var/www/html;
    }

    location / {
        proxy_pass <%= @upstream_address %>;
        include /etc/nginx/proxy_params;
    }
}

server {
    server_name <%= @public_hostname %>;
    listen      443;
    root        /nonexistent;

    ssl on;
    ssl_certificate /etc/letsencrypt/live/<%= @public_hostname %>/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/<%= @public_hostname %>/privkey.pem;
    ssl_dhparam /etc/nginx/dhparams.pem;
    ssl_prefer_server_ciphers on;
    ssl_session_timeout 5m;
    include /etc/nginx/include.d/ssl-strong-ciphers.conf;

    location / {
        proxy_pass <%= @upstream_address %>;
        include /etc/nginx/proxy_params;
    }
}
