Origin: TorProject
Label: TorProject
Suite: stable
Codename: stretch
Architectures: <%= @architectures['torproject'].join(' ') %>
Components: main
<%- if @signwith -%>
SignWith: <%= @signwith %>
<%- end -%>
Update: - torproject-stretch
Log: torproject-stretch
ValidFor: 10d

Origin: TorProject
Label: TorProject
Suite: testing
Codename: buster
Architectures: <%= @architectures['torproject'].join(' ') %>
Components: main
<%- if @signwith -%>
SignWith: <%= @signwith %>
<%- end -%>
Update: - torproject-buster
Log: torproject-buster
ValidFor: 10d

Origin: TorProject
Label: TorProject
Suite: unstable
Codename: sid
Architectures: <%= @architectures['torproject'].join(' ') %>
Components: main
<%- if @signwith -%>
SignWith: <%= @signwith %>
<%- end -%>
Update: - torproject-sid
Log: torproject-sid
ValidFor: 10d

Origin: TorProject
Label: TorProject
Suite: obfs4proxy
Codename: obfs4proxy
Architectures: <%= @architectures['torproject'].join(' ') %>
Components: main
<%- if @signwith -%>
SignWith: <%= @signwith %>
<%- end -%>
Update: - torproject-obfs4proxy
Log: torproject-obfs4proxy
ValidFor: 10d

Origin: TorProject
Label: TorProject
Suite: tor-nightly-master-stretch
Codename: tor-nightly-master-stretch
Architectures: <%= @architectures['torproject'].join(' ') %>
Components: main
<%- if @signwith -%>
SignWith: <%= @signwith %>
<%- end -%>
Update: - torproject-tor-nightly-master-stretch
Log: torproject-tor-nightly-master-stretch
ValidFor: 10d

Origin: TorProject
Label: TorProject
Suite: tor-nightly-master-buster
Codename: tor-nightly-master-buster
Architectures: <%= @architectures['torproject'].join(' ') %>
Components: main
<%- if @signwith -%>
SignWith: <%= @signwith %>
<%- end -%>
Update: - torproject-tor-nightly-master-buster
Log: torproject-tor-nightly-master-buster
ValidFor: 10d
