Name: torproject-stretch
Method: http://deb.torproject.org/torproject.org
Suite: stretch
Architectures: <%= @architectures['torproject'].join(' ') %>
Components: main
VerifyRelease: EE8CBC9E886DDD89+

Name: torproject-buster
Method: http://deb.torproject.org/torproject.org
Suite: buster
Architectures: <%= @architectures['torproject'].join(' ') %>
Components: main
VerifyRelease: EE8CBC9E886DDD89+

Name: torproject-sid
Method: http://deb.torproject.org/torproject.org
Suite: unstable
Architectures: <%= @architectures['torproject'].join(' ') %>
Components: main
VerifyRelease: EE8CBC9E886DDD89+

Name: torproject-obfs4proxy
Method: http://deb.torproject.org/torproject.org
Suite: obfs4proxy
Architectures: <%= @architectures['torproject'].join(' ') %>
Components: main
VerifyRelease: EE8CBC9E886DDD89+

Name: torproject-tor-nightly-master-stretch
Method: http://deb.torproject.org/torproject.org
Suite: tor-nightly-master-stretch
Architectures: <%= @architectures['torproject'].join(' ') %>
Components: main
VerifyRelease: EE8CBC9E886DDD89+

Name: torproject-tor-nightly-master-buster
Method: http://deb.torproject.org/torproject.org
Suite: tor-nightly-master-buster
Architectures: <%= @architectures['torproject'].join(' ') %>
Components: main
VerifyRelease: EE8CBC9E886DDD89+
