Origin: Debian
Label: Debian-Security
Suite: stable/updates
Codename: stretch/updates
Architectures: <%= @architectures['stretch'].join(' ') %>
Components: updates/main updates/contrib updates/non-free
FakeComponentPrefix: updates
<%- if @signwith -%>
SignWith: <%= @signwith %>
<%- end -%>
Update: - debian-security-stretch
Log: debian-security-stretch
ValidFor: 10d
