Name: debian-security-stretch
Method: http://security.debian.org/
Suite: stretch/updates
Architectures: <%= @architectures['stretch'].join(' ') %>
Components: main>updates/main contrib>updates/contrib non-free>updates/non-free
VerifyRelease: 9D6D8F6BC857C906
