# -*- mode: conf; -*-
# This file is managed by the tails Puppet module.

server {

    server_name <%= @webserver_hostname %>;
    listen 80;

    location /.well-known/acme-challenge/ {
        root /var/www/html;
    }
    location / {
        return 301 https://$host$request_uri;
    }
}

server {

    server_name <%= @webserver_hostname %>;
    listen 443;

    ssl on;
    ssl_certificate /etc/letsencrypt/live/<%= @webserver_hostname %>/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/<%= @webserver_hostname %>/privkey.pem;
    ssl_dhparam /etc/nginx/dhparams.pem;
    ssl_prefer_server_ciphers on;
    ssl_session_timeout 5m;
    include /etc/nginx/include.d/ssl-strong-ciphers.conf;
    include /etc/nginx/include.d/sts.conf;

    root /usr/share/icingaweb2/public/;

    location ~ ^/index\.php(.*)$ {
        fastcgi_pass unix:<%= @php_fpm_socket %>;
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME /usr/share/icingaweb2/public/index.php;
        fastcgi_param ICINGAWEB_CONFIGDIR /etc/icingaweb2/;
        fastcgi_param REMOTE_USER $remote_user;
    }

    location ~ ^/(.*)? {
        alias /usr/share/icingaweb2/public/;
        index index.php;
        try_files $1 $uri $uri/ /index.php$is_args$args;

    }

}
