# -*- mode: conf; -*-
# This file is managed by the `::tails::limesurvey::reverse_proxy` class.

proxy_pass http://<%= @upstream_hostname %>;
include /etc/nginx/proxy_params;
proxy_redirect http://<%= @upstream_hostname %>/ https://<%= @public_hostname %>/;
